{
    "singleQuote": true,
    "printWidth": 80,
    "editor.formatOnSave": false,
    "proseWrap": "always",
    "tabWidth": 4,
    "requireConfig": false,
    "useTabs": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "semi": true
}