@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-color: rgb(239, 239, 239);
    --bg-color: #0c1826;
    --primary-1: #14202e;
    --primary-2: #0f4a57;
    --primary-3: #0ba990;
    --primary-4: #36958e;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
}